* {
  background-color: #242424;
  margin: 16px 16px;
  font-family: 'Montserrat', sans-serif;
  max-width: 490px;
}

.headline {
  color: #f8f9fd;
  font-weight: 700;
  font-size: 48px;
}

.App {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}